
#calendar{
  display: flex;
  flex-direction: column;
  position: static;
  background-color: cadetblue;
  width: 100%;
  --hour-axis-width: 40px;
}

#day-axis{
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  height: 40px;
  width: calc(100% - var(--hour-axis-width));
  position: relative;
  left: var(--hour-axis-width);
}

.day-label{
  position: relative;
  flex-grow: 1;
  text-align: center;
  border-style: none solid none solid;
  border-width: 1px;
}

.day-label h4{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#hours-and-events{
  display: flex;
  height: 100%;
  background-color: cornflowerblue;
  position: relative; /*Makes this the width basis for hour-label::after gridlines*/
}

#hour-axis{
  background-color: bisque;
  min-width: var(--hour-axis-width);
  text-align: center;
}

.hour-label{
  /* border-bottom: solid gray 1px; */
  /* position: relative; */
}

.hour-label::after{
  content: "";
  border-bottom: solid gray 1px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#calendar-events{
  display: flex;
  flex-direction: row;
  background-color: rgb(199, 230, 240);
  width: 100%;
}

.day{
  flex-grow: 1;
  border-style: none solid none solid;
  border-width: 1px;
  border-color: gray;
}

.shadow-event{
  position: relative;
  background-color: orange;
  height: 40px;
  top: 50px;
}
